QuizPlayNew/Web References/HSP/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HansetDetection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserAgent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HansetDetectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HansetDetectionResult" type="tns:Profiling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Profiling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dimension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isTablet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UAXML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="is_bot" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marketing_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="full_device_name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HansetDetectionSoapIn">
    <wsdl:part name="parameters" element="tns:HansetDetection" />
  </wsdl:message>
  <wsdl:message name="HansetDetectionSoapOut">
    <wsdl:part name="parameters" element="tns:HansetDetectionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HansetDetection">
      <wsdl:input message="tns:HansetDetectionSoapIn" />
      <wsdl:output message="tns:HansetDetectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HansetDetection">
      <soap:operation soapAction="http://tempuri.org/HansetDetection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HansetDetection">
      <soap12:operation soapAction="http://tempuri.org/HansetDetection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.10.121/HSProfiling_WS/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.10.121/HSProfiling_WS/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>